<?xml version="1.0"?>
<object_store type="hierarchical">
    <backends>

        <object_store type="disk" id="primary" order="1">
            <files_dir path="database/files1"/>
            <extra_dir type="temp" path="database/tmp1"/>
            <extra_dir type="job_work" path="database/job_working_directory1"/>
        </object_store>

        <object_store type="swift" id="primary" order="0">
            <auth access_key="{{ S3_ACCESS_KEY }}" secret_key="{{ S3_SECRET_KEY }}" />
            <bucket name="{{ S3_BUCKET_NAME }}" use_reduced_redundancy="False" max_chunk_size="250"/>
            <connection host="{{ S3_BASE_URL }}" port="443" is_secure="True" conn_path="" multipart="True"/>
            <cache path="database/object_store_cache" size="1000" />
            <extra_dir type="job_work" path="database/job_working_directory_swift"/>
            <extra_dir type="temp" path="database/tmp_swift"/>
        </object_store>

    </backends>
</object_store>
